<%- include('partials/header') %>
<div class="form-container">
    <h2>Register</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
        </div>
        <div class="form-group">
            <label for="currency">Major Currency <small> - please type a shortcut: USD, EUR etc...</small></label>
            <input type="text" name="currency" id="currency" class="form-control" value="<%= locals.currency || '' %>" required />
        </div>
        <div class="form-group">
            <label for="value">Value</label>
            <input type="number" name="value" id="value" class="form-control" value="<%= locals.value || 0 %>" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>

        <h5>If you have any currencies, please tape their values below:</h5>

         <div class="form-group">
            <label for="fp">FP</label>
            <input type="number" name="fp" id="fp" class="form-control" value="<%= locals.fp || 0 %>" />
        </div> <div class="form-group">
            <label for="fpl">FPL</label>
            <input type="number" name="fpl" id="fpl" class="form-control" value="<%= locals.fpl || 0 %>" />
        </div> <div class="form-group">
            <label for="pgb">PGB</label>
            <input type="number" name="pgb" id="pgb" class="form-control" value="<%= locals.pgb || 0 %>" />
        </div> <div class="form-group">
            <label for="fpc">FPC</label>
            <input type="number" name="fpc" id="fpc" class="form-control" value="<%= locals.fpc || 0 %>" />
        </div> <div class="form-group">
            <label for="fpa">FPA</label>
            <input type="number" name="fpa" id="fpa" class="form-control" value="<%= locals.fpa || 0 %>" />
        </div> <div class="form-group">
            <label for="dl24">DL24</label>
            <input type="number" name="dl24" id="dl24" class="form-control" value="<%= locals.dl24 || 0 %>" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>

    </form>
</div>
<%- include('partials/footer') %>